* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabeçalho {
    background-image: linear-gradient(#7459AE, #EBC7E6);
    color: #7459AE;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-logo {
    width: 25%;
    height: 25%;
}

.cabeçalho-itens {
    font-size: 36px;
    display: inline-block;
    margin: 5px;
    padding-top: 20px;
    font-weight: bold;
    
}

.formadores {
    background-image: linear-gradient(#EBC7E6, #BFACE2);
    color: #7459AE;
    height: 300px;
}

.formadores-título {
    padding-top: 80px;
    text-align: center;
    font-size: 64px;
}

.formadores-parágrafo {
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
}

.galeria {
    background-image: linear-gradient(#BFACE2,#7459AE);
    height: 1600px;
    text-align: center;
}

.galeria-foto {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border-radius: 32px;
    
}

.galeria-titulo {
    padding-top: 30px;
    text-align: center;
    font-size: 48px;
    color: #7459AE;
}

.galeria-topo {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: #7459AE;
}

.legenda {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.galeria-todos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.rodape {
    background-image: linear-gradient(#7459AE, #EBC7E6);
    color: #7459AE;
    text-align: center;
    height: 150px;

}

.copyright {
    padding-top: 80px;
    font-size: 30px;
    color: #ffffff;
}